.jumbotron {
	background: #e35f56;	
}

.card-prod {
	flex: 1 150px;
	padding: 20px;	
	margin:5px;
	background: #e35f56;
	
}

.btn {
	background: black;
}

.jumbotron {
	margin-top:55px;
	color: white;
}

.cards { width:100%;}

.card { 
	margin:10px;
	flex: 1 200px;
 }

 .oi { font-size:50px;}

 .form-control {
	 margin-bottom:20px;
 }

 .card-body  {
	margin:10px 20px 10px 20px;
	padding:10px 20px 10px 20px;
 }

 .card-title  span {
	 font-size:20px;
	 margin-right:20px;
 }

 .card-body footer {
	 margin-bottom: 20px;
 }


 .reserva {
	 margin: 50px auto;
	 text-align: center
 }