<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
<!-- Bootstrap JS -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/@popperjs/core/dist/umd/popper.js"></script>


<div class="alert alert-danger alert-dismissible fade show" role="alert">

<strong>Error</strong> Su operación falló de forma imprevista

<button type="button" class="close" data-dismiss="alert" aria-label="Close">

<span aria-hidden="true">&times;</span>

</button>

</div>


<div class="alert alert-primary alert-dismissible fade show" role="alert">

<strong>Error</strong> Su operación falló de forma imprevista

<button type="button" class="close" data-dismiss="alert" aria-label="Close">

<span aria-hidden="true">&times;</span>

</button>

</div>


<div class="alert alert-success alert-dismissible fade show" role="alert">

<strong>Error</strong> Su operación falló de forma imprevista

<button type="button" class="close" data-dismiss="alert" aria-label="Close">

<span aria-hidden="true">&times;</span>

</button>

</div>


<div class="alert alert-info alert-dismissible fade show" role="alert">

<strong>Error</strong> Su operación falló de forma imprevista

<button type="button" class="close" data-dismiss="alert" aria-label="Close">

<span aria-hidden="true">&times;</span>

</button>

</div>

